<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width",initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <title>브릭 코딩테스트</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <header>
      <h1 id="title">
        <span class="material-symbols-outlined"> co_present </span>이송은
        문제풀이
      </h1>
      <p id="semi-title">BRIQUE 코딩테스트</p>
    </header>
    <main>
      <nav>
        <button class="questionBtn" id="button1" onclick="location.href = `/1`">
          1번 풀이
        </button>
        <button class="questionBtn" id="button2" onclick="location.href = `/2`">
          2번 풀이
        </button>
        <button class="questionBtn" id="button3" onclick="location.href = `/3`">
          3번 풀이
        </button>
        <button class="questionBtn" id="button1" onclick="location.href = `/4`">
          4번 풀이
        </button>
        <button class="questionBtn" id="button5" onclick="location.href = `/5`">
          5번 풀이
        </button>
        <button class="questionBtn" id="button1" onclick="location.href = `/?`">
          ?번 풀이
        </button>
      </nav>
      <section>
        <h1>PingPong 요청응답 프로그램</h1>
        <p id="loadingmsg">Ping을 전송해보세요</p>
        <form id="requestForm">
          <input id="requestInput" /><button
            id="Q2_sendBtn"
            type="button"
            onclick="onClickSendBtn()"
          >
            전송
          </button>
        </form>
        <h3>
          응답결과:
          <div id="response"></div>
        </h3>
      </section>
      <script src="Q2.js"></script>
    </main>
  </body>
</html>
