<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width",initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <title>브릭 코딩테스트</title>
  </head>
  <body>
    <header>
      <h1 id="title">
        <span class="material-symbols-outlined"> co_present </span>이송은
        문제풀이
      </h1>
      <p id="semi-title">BRIQUE 코딩테스트</p>
    </header>
    <main>
      <nav>
        <button class="questionBtn" id="button1" onclick="location.href = `/1`">
          1번 풀이
        </button>
        <button class="questionBtn" id="button2" onclick="location.href = `/2`">
          2번 풀이
        </button>
        <button class="questionBtn" id="button3" onclick="location.href = `/3`">
          3번 풀이
        </button>
        <button class="questionBtn" id="button1" onclick="location.href = `/4`">
          4번 풀이
        </button>
        <button class="questionBtn" id="button5" onclick="location.href = `/5`">
          5번 풀이
        </button>
        <button class="questionBtn" id="button1" onclick="location.href = `/?`">
          ?번 풀이
        </button>
      </nav>
      <section>
        <h1>
          월 평균 기온, 평균 습도 꺾은선 그래프 출력
          <button id="Q4_start_btn" onclick="onClickStartBtn()">
            시작하기
          </button>
        </h1>
        <form id="Q4_form"></form>
        <div id="Q4_wrap_contents">
          <table id="Q4_table">
            <thead>
              <tr id="Q4_table_head"></tr>
            </thead>
            <tbody id="Q4_table_body"></tbody>
          </table>
          <div id="chart_div" style="width: 900px; height: 500px"></div>
        </div>
      </section>
      <script src="Q4.js"></script>
      <script
        type="text/javascript"
        src="https://www.gstatic.com/charts/loader.js"
      ></script>
    </main>
  </body>
</html>
